* {
   box-sizing: border-box; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
    color: blueviolet;
}

#quiz {
    display: grid;
    justify-content: center; 
    align-items: center; 
}

#highscores {
    color: white;
    background-color: blueviolet; 
}

#start {
    height: 30px;
    width: 100px;
    color: brown;
    font-weight: bold;
    font-size: 18px;
    background-color: bisque;
    border-color: aqua;
    margin: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
  }


#question {
    display: grid;
    grid-template-columns: repeat(1, auto);
    font-size: 20px;
    gap: 10px;
}