* {
   box-sizing: border-box; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
    color: rgb(22, 114, 99);
}

#quiz {
    display: grid;
    justify-content: center; 
    align-items: center; 
}

.container {
    display: flex;
    justify-content: center;
}

.highScores {
    margin-top: 15px;
    align-items: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    color: rgb(73, 135, 194);
    background-color: rgb(229, 234, 238); 
}

#start {
    height: 30px;
    width: 100px;
    color: rgb(73, 135, 194);
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(229, 234, 238);
    border: 1px solid aqua;
    margin: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }


#question {
    display: grid;
    grid-template-columns: repeat(1, auto);
    font-size: 20px;
    gap: 10px;
}

.btn {
    color: rgb(73, 135, 194);
    border: 1px solid aqua;
    cursor: grab;
          
}